# Ignore everything
*

# Files to include
!.gitignore
!.zshrc
!.gitignore
!.tmux.conf
!.vimperatorrc
!.vimrc
!.vim/
!.vim/autoload
!.vim/autoload/vim-pathogen
!.vim/bundle/
!.vim/bundle/*
!.tigrc
!.i3/
!.i3/*
!bin/
!bin/*
!.oh-my-zsh
