# Ignore everything
*

# Files to include
!.gitignore
!.zshrc
!.zsh/
!.zsh/*
!.gitignore
!.tmux.conf
!.vimperatorrc
!.vimrc
!.vim
!.vim/bundle
!.vim/bundle/vundle.vim
!.tigrc
!.i3/
!.i3/*
!bin/
!bin/*
!.oh-my-zsh
!.Xresources
!.pentadactylrc
